/*.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}*/

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  width: 100%;
  padding: 30px; 
}

.cardContainer .drinkResultsHeader {
  font-size: 40px; 
  font-weight: bold; 
  margin-bottom: 20px; 
  text-align: center; 
}

.cardContainer .card {
  flex: 1; 
  margin: 16px 0px; 
  max-width: 300px; 
}

.cardsWrapper {
  display: flex;
 flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 30px;
}

/* @media (min-width: 768px) {
  .cardsWrapper {
    flex-direction: row; /* Switch to a row layout 
    justify-content: space-between;
  }
}*/