header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: baseline;
}

.mainHeader {
  font-family: "Barrio", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  border-bottom: var(--yellow) solid 1px;
  margin-left: 1rem;
}

.iconImage {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
