.footer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 15px;
  padding: 15px 0;
  justify-content: center;
}

.copyrightText {
  font-family: "Barrio", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  border-top: var(--yellow) solid 1px;
  padding-top: 8px;
}
